/*
!.gitignore
!/src/
!/README.MD
!/README_ZH.MD
!/gradlew
!/gradlew.bat
!/build.gradle
!/gradle/
!appveyor.yml
# macOS junk files
.DS_Store

# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
